receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
  filter/health_endpoint:
    traces:
      span:
        - attributes["http.route"] == "/admin/health"
  resource/drop_unneeded_resource_attributes:
    attributes:
      - key: k8s.pod.start_time
        action: delete
      - key: os.description
        action: delete
      - key: os.type
        action: delete
      - key: process.command_args
        action: delete
      - key: process.executable.path
        action: delete
      - key: process.pid
        action: delete
      - key: process.runtime.description
        action: delete
      - key: process.runtime.name
        action: delete
      - key: process.runtime.version
        action: delete

exporters:
  debug:
    verbosity: detailed

extensions:
  health_check:
    endpoint: "0.0.0.0:13133"

service:
  extensions: [ health_check ]
  pipelines:
    traces:
      receivers:
        - otlp
      processors:
        - batch
        - filter/health_endpoint
        - resource/drop_unneeded_resource_attributes
      exporters:
        - debug
    metrics:
      receivers:
        - otlp
      processors:
        - batch
        - resource/drop_unneeded_resource_attributes
      exporters:
        - debug
    logs:
      receivers:
        - otlp
      processors:
        - batch
        - resource/drop_unneeded_resource_attributes
      exporters:
        - debug